DATABASE_URL="postgresql://courshare:courshare@localhost:5432/payment_db?schema=public"
STRIPE_SECRET_KEY="test_key"
FRONTEND_URL="http://localhost:3000"
WEBHOOK_SECRET="webhook_secret"
AWS_REGION="us-east-1"
AWS_ACCESS_KEY="your_aws_access_key_id"
AWS_SECRET_KEY="your_aws_secret_access_key"
PAYMENT_EVENTS_QUEUE_URL="your url for the payment events queue"